OPENAI_API_KEY=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
SUPABASE_URL=https://qhhyuooxrsarbdnxmwrj.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFoaHl1b294cnNhcmJkbnhtd3JqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NDI2NTE0MiwiZXhwIjoyMDk5ODQxMTQyfQ.rvg_oaMZXN9AfKv0CxZ0JYSNPeSJN2xkjK83h2Wex3Y
PORT=4000
