VITE_SUPABASE_URL=https://qhhyuooxrsarbdnxmwrj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFoaHl1b294cnNhcmJkbnhtd3JqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQyNjUxNDIsImV4cCI6MjA5OTg0MTE0Mn0.6LDJqdWdkxYANr0WcHg36bykAyixZi0cvjlUmOfSpc8
VITE_API_BASE_URL=https://mindprepstudyapp001.onrender.com
